.color-indicator__inner-circle {
    border-radius: 12px;
    height: 12px;
    width: 12px;
    color: yellow;
    background-color: yellow;
    margin-right: 10px;
}

.navbarContainer {
    display: flex;
    align-items: center; 
    text-align: center; 
    justify-content: space-between;
    padding: 20px 200px!important;
}

.logoTitle {
    min-width: 100!important;
    font-size: 25px!important;
}